@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cambo', serif;
    padding: 0;
    margin: 0;
    background-color: #bbb;
}